
@{
    ViewData["Title"] = "View";
}

<h1 class="text-center">Inventario del supermercado Liverpool</h1>

<a href="Home/ManageProduct" class="btn btn-dark">Manejar Productos</a>
<a href="Home/ManageProveedor" class="btn btn-dark">Manejar Proveedores</a>